<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.runxsports.provider.cs.cms.mapper.QuestionMapper" >
  <resultMap id="BaseResultMap" type="com.runxsports.provider.cs.cms.entity.Question" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="question_group" property="questionGroup" jdbcType="CHAR" />
    <result column="question_type" property="questionType" jdbcType="CHAR" />
    <result column="question_content" property="questionContent" jdbcType="VARCHAR" />
    <result column="question_sort" property="questionSort" jdbcType="INTEGER" />
    <result column="question_score" property="questionScore" jdbcType="INTEGER" />
    <result column="question_desc" property="questionDesc" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="last_update_user" property="lastUpdateUser" jdbcType="BIGINT" />
    <result column="is_delete" property="isDelete" jdbcType="CHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  
  
  <!--   <resultMap id="resultQuestion" type="com.runxsports.provider.cs.cms.model.vo.QuestionItemVO" >
	    <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="question_group" property="questionGroup" jdbcType="CHAR" />
	    <result column="question_type" property="questionType" jdbcType="CHAR" />
	    <result column="question_content" property="questionContent" jdbcType="VARCHAR" />
	    <result column="question_sort" property="questionSort" jdbcType="INTEGER" />
	    <result column="version" property="version" jdbcType="INTEGER" />
	    <collection property="items" ofType="com.runxsports.provider.cs.cms.entity.QuestionItem">
	    	<id column="question_id" property="questionId"/>
	    	<result column="item_no" property="itemNo"/>
	    	<result column="item_content" property="itemContent"/>
	    	<result column="item_sort" property="itemSort"/>
	    	<result column="itemVersion" property="version"/>
	    </collection>
   </resultMap> -->
  
  <!-- 根据角色类型查询题目 -->
<!--   <select id="findQuestionByUserType"  resultMap="resultQuestion">
  	  SELECT q.id,
			 q.question_group,
			 q.question_type,
			 q.question_content,
			 q.question_sort,
			 q.version,
			 i.question_id,
			 i.item_no,
			 i.item_content,
			 i.item_sort,
			 i.version as itemVersion
	FROM us_t_question q
	LEFT JOIN us_t_question_item i ON q.id = i.question_id AND i.is_delete = 0
	WHERE q.is_delete = 0
	  and q.question_group = #{questionGroup}
  </select> -->
  
  
  <insert id="batchSave" parameterType="java.util.List">  	
		insert into us_t_question(id,
							      question_group,
							      question_type,
							      question_content,
							      question_sort,
							      question_score,
							      question_desc,
							      create_date,
							      last_update_date)
		values
		<foreach collection="list" separator="," open="" close="" item="item">
			( #{item.id}, 
			#{item.questionGroup}, 
			1,
			#{item.questionContent},
			#{item.questionSort},
			#{item.questionScore},
			#{item.questionDesc},
			now(),
			now())
		</foreach>
  </insert>
  
  <update id="updateIsDel">
  	  update us_t_question 
  	  set is_delete = 1,
  	  version = version + 1,
	  last_update_date = now()
  	  where question_group = #{questionGroup}
  	  and is_delete = 0
  </update>
</mapper>