<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.runxsports.provider.cs.cms.mapper.QuestionMapper" >
  <resultMap id="BaseResultMap" type="com.runxsports.provider.cs.cms.entity.Question" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="question_group" property="questionGroup" jdbcType="CHAR" />
    <result column="question_type" property="questionType" jdbcType="CHAR" />
    <result column="question_content" property="questionContent" jdbcType="VARCHAR" />
    <result column="question_sort" property="questionSort" jdbcType="INTEGER" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="last_update_user" property="lastUpdateUser" jdbcType="BIGINT" />
    <result column="is_delete" property="isDelete" jdbcType="CHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  
  
    <resultMap id="BaseResultMap" type="com.runxsports.provider.cs.cms.entity.Question" >
	    <id column="id" property="id" jdbcType="BIGINT" />
	    <result column="question_group" property="questionGroup" jdbcType="CHAR" />
	    <result column="question_type" property="questionType" jdbcType="CHAR" />
	    <result column="question_content" property="questionContent" jdbcType="VARCHAR" />
	    <result column="question_sort" property="questionSort" jdbcType="INTEGER" />
	    <result column="is_delete" property="isDelete" jdbcType="CHAR" />
	    <result column="version" property="version" jdbcType="INTEGER" />
	    <collection property=""></collection>
   </resultMap>
  
  <select id="findQuestionByUserType">
  	  SELECT q.id,
			 q.question_group,
			 q.question_type,
			 q.question_content,
			 q.question_sort,
			 q.version,
			 i.question_id,
			 i.item_no,
			 i.item_content,
			 i.item_sort,
			 i.version
	FROM us_t_question q
	LEFT JOIN us_t_question_item i ON q.id = i.question_id AND i.is_delete = 0
	WHERE q.is_delete = 0
  </select>
</mapper>