<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.runxsports.provider.cs.cms.mapper.UserMapper">
  <resultMap id="BaseResultMap" type="com.runxsports.provider.cs.cms.entity.User">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="user_type" jdbcType="CHAR" property="userType" />
    <result column="user_name" jdbcType="VARCHAR" property="userName" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="class_name" jdbcType="VARCHAR" property="className" />
    <result column="user_no" jdbcType="VARCHAR" property="userNo" />
    <result column="team_name" jdbcType="VARCHAR" property="teamName" />
    <result column="team_leader" jdbcType="VARCHAR" property="teamLeader" />
    <result column="teacher" jdbcType="VARCHAR" property="teacher" />
    <result column="create_date" jdbcType="TIMESTAMP" property="createDate" />
    <result column="create_user" jdbcType="BIGINT" property="createUser" />
    <result column="last_update_date" jdbcType="TIMESTAMP" property="lastUpdateDate" />
    <result column="last_update_user" jdbcType="BIGINT" property="lastUpdateUser" />
    <result column="is_delete" jdbcType="CHAR" property="isDelete" />
    <result column="version" jdbcType="INTEGER" property="version" />
    <result column="memo" jdbcType="VARCHAR" property="memo" />
    <result column="team_leader_no" jdbcType="VARCHAR" property="teamLeaderNo" />
    <result column="team_leader_id" jdbcType="BIGINT" property="teamLeaderId" />
    <result column="teacher_no" jdbcType="VARCHAR" property="teacherNo" />
    <result column="teacher_id" jdbcType="BIGINT" property="teacherId" />
  </resultMap>

	<!-- 批量插入用户信息 -->
	<insert id="batchInsert" parameterType="java.util.List">
		insert into us_t_user
		(id, user_type, user_name,
		password,class_name,user_no,
		team_name,team_leader,teacher,
		team_leader_no, teacher_no, 
		create_date,last_update_date,is_delete)
		values
		<foreach close="" collection="list" item="item" open="" separator=",">
			(#{item.id}, #{item.userType}, #{item.userName},
			#{item.password},#{item.className},#{item.userNo},
			#{item.teamName},#{item.teamLeader},#{item.teacher},
			#{item.teamLeaderNo},#{item.teacherNo},
			#{item.createDate},#{item.lastUpdateDate},'0')
		</foreach>
	</insert>
	
	<!-- 删除原有信息 -->
	<update id="modifyOld">
		update us_t_user t 
		set t.is_delete = '1',
		    t.version = t.version + 1,
		    t.last_update_date = now()
		where t.is_delete = '0'
	</update>
	
	<select id="findByUserNo" resultType="com.runxsports.provider.cs.cms.entity.User">
		select us.id,
			   us.user_type as userType ,
		       us.user_name as userName,
		       us.class_name as className,
		       us.user_no as userNo,
		       us.team_name as teamName,
			   us.team_leader as teamLeader,
			   us.teacher as teacher 
		from us_t_user us 
		where us.user_no = #{userNo}
	</select>
	
	<!-- 查詢支部书记下的学生 -->
	<select id="queryUserByNo" resultType="com.runxsports.provider.cs.cms.entity.User" >
		select   u.user_name as userName,
				 u.class_name as className,
				 u.user_no as userNo,
				 u.team_name as teamName,
				 u.team_leader as teamLeader,
				 u.teacher_no as teacherNo,
				 u.teacher 
		 from us_t_user u 
		 where 1=1
		 <if test="userType == 1">and u.team_leader_no=#{No}</if>
		 <if test="userType == 2">and u.teacher_no=#{No}</if> 
	</select>
</mapper>