<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.runxsports.provider.cs.cms.mapper.UserMapper" >
  <resultMap id="BaseResultMap" type="com.runxsports.provider.cs.cms.entity.User" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_type" property="userType" jdbcType="CHAR" />
    <result column="user_name" property="userName" jdbcType="VARCHAR" />
    <result column="password" property="password" jdbcType="VARCHAR" />
    <result column="class_name" property="className" jdbcType="VARCHAR" />
    <result column="user_no" property="userNo" jdbcType="VARCHAR" />
    <result column="team_name" property="teamName" jdbcType="VARCHAR" />
    <result column="team_leader" property="teamLeader" jdbcType="VARCHAR" />
    <result column="teacher" property="teacher" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="last_update_user" property="lastUpdateUser" jdbcType="BIGINT" />
    <result column="is_delete" property="isDelete" jdbcType="CHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
  </resultMap>

	<!-- 批量插入用户信息 -->
	<insert id="batchInsert" parameterType="java.util.List">
		insert into us_t_user
		(id, user_type, user_name,
		password,class_name,user_no,team_name,team_leader,teacher,create_date,last_update_date,is_delete)
		values
		<foreach collection="list" separator="," open="" close=""
			item="item">
			(#{item.id}, #{item.userType}, #{item.userName},
			#{item.password},#{item.className},#{item.userNo},#{item.teamName},#{item.teamLeader},#{item.teacher},#{item.createDate},#{item.lastUpdateDate},'0')
		</foreach>
	</insert>
	
	<!-- 删除原有信息 -->
	<update id="modifyOld">
		update us_t_user t 
		set t.is_delete = '1',
		    t.version = t.version + 1,
		    t.last_update_date = now()
		where t.is_delete = '0'
	</update>
</mapper>