<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.runxsports.provider.cs.cms.mapper.UserAttachmentMapper" >
  <resultMap id="BaseResultMap" type="com.runxsports.provider.cs.cms.entity.UserAttachment" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="user_id" property="userId" jdbcType="BIGINT" />
    <result column="attachement_name" property="attachementName" jdbcType="VARCHAR" />
    <result column="attachement_type" property="attachementType" jdbcType="CHAR" />
    <result column="attachement_path" property="attachementPath" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="create_user" property="createUser" jdbcType="BIGINT" />
    <result column="last_update_date" property="lastUpdateDate" jdbcType="TIMESTAMP" />
    <result column="last_update_user" property="lastUpdateUser" jdbcType="BIGINT" />
    <result column="is_delete" property="isDelete" jdbcType="CHAR" />
    <result column="version" property="version" jdbcType="INTEGER" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
  </resultMap>
  
    <select id="queryUserAttach" resultType="com.runxsports.provider.cs.cms.model.vo.AttachementVO">
    	select  a.id as id,
    			a.user_id as userId,
				u.user_name as userName,
				u.class_name as className,
				u.user_no as userNo,
				u.team_name as teamName,
				u.team_leader as  teamLeader,
				u.teacher as teacher,
				a.attachement_name as attachementName,
				a.attachement_path as attachementPath
		from us_t_user_attachment a 
		left join us_t_user u on a.user_id = u.id
		where a.is_delete = 0 and u.is_delete = 0
		<if test="username != null and username != ''">
			and (u.user_name like concat('%',#{username},'%')  
				or u.user_no like concat('%',#{username},'%'))
		</if>
	
    </select>
    
     <resultMap id="queryResultMap" type="com.runxsports.provider.cs.cms.model.vo.AttachementVO" >
		    <id column="id" property="id" jdbcType="BIGINT" />
		    <result column="userName" property="userName" />
		    <result column="userNo" property="userNo" />
		    <result column="teamName" property="teamName" />
		    <result column="teamLeader" property="teamLeader"/>
		    <result column="teacher" property="teacher"/>
		    <collection property="attachment" ofType="com.runxsports.provider.cs.cms.entity.UserAttachment">
		    		<id column="aid" property="id"/>
		    		<result column="attachementPath" property="attachementPath"/>
		    		<result column="attachementName" property="attachementName"/>
		    </collection>
  </resultMap>
    
    <select id="queryAll" resultMap="queryResultMap">
    	    	select 
    			u.id,
		 		a.id as aid,
				u.user_name as userName,
				u.class_name as className,
				u.user_no as userNo,
				u.team_name as teamName,
				u.team_leader as  teamLeader,
				u.teacher as teacher,
				a.attachement_name as attachementName,
				a.attachement_path as attachementPath
		from us_t_user_attachment a 
		left join us_t_user u on a.user_id = u.id
		where a.is_delete = 0 and u.is_delete = 0
		<if test="username != null and username != ''">
			and (u.user_name like concat('%',#{username},'%')  
				or u.user_no like concat('%',#{username},'%'))
		</if>
    </select>
</mapper>